// post hero
.post_hero {
    @apply w-full h-[700px] flex flex-col justify-end overflow-hidden relative bg-no-repeat bg-cover py-20;
    
    .-overlay {
        @apply absolute bottom-0 left-0 right-0 bg-gray-900/50 w-full h-full;
    }

    .-content {
        @apply grid lg:grid-cols-5 max-sm:grid-cols-1 md:grid-cols-1 gap-4;
    
        & .date_block{
           @apply lg:h-52 lg:w-52 md:w-44 md:h-44 max-sm:w-40 max-sm:h-40 bg-red-500 flex items-center justify-center;
            
           & .-center{
                @apply flex flex-col items-center;
    
               span:first-child{
                  @apply uppercase text-2xl font-semibold;
               }
    
                span:last-child{
                     @apply uppercase text-4xl font-bold;
                }
           }
        }

        & ._wrapper{
            @apply flex flex-col gap-4 col-span-4;

            & .-tag{
                @apply flex items-center;
        
                a{
                    @apply py-1 px-2 border border-transparent text-white font-semibold inline;
                }
            }

            & .-title{
                @apply text-4xl text-white font-semibold hover:underline underline-offset-2;
            }

            & .-meta{
                @apply flex items-center gap-4 flex-wrap;

                img {
                    @apply w-14 h-14 object-cover rounded-full;
                }

                & .-author{
                    @apply text-white hover:underline underline-offset-2 cursor-pointer;
                }
        
                span{
                    @apply text-white;
        
                }
            }
    
            h1{
                @apply text-white font-semibold text-4xl;
            }
    
            span{
                @apply text-gray-400;
            }
        }
        
    }
}



.post_container{
    @apply my_container flex gap-4 max-sm:flex-wrap;
}

.post_detail{
    @apply pb-10 border-b border-gray-300;
}

.post_detail-content{
    & h2{
        @apply text-white font-semibold text-4xl pb-4;
    }

    & h3{
        @apply text-white font-semibold text-2xl pb-4;
    }

    & p{
        @apply text-gray-400 pb-4;
    }

    & img{
        @apply w-full h-full object-cover pb-4;
    }
}

// share
.share{
    @apply flex flex-wrap items-center gap-4;

    .-text{
        @apply text-white text-2xl font-semibold;
    }

    .social_block{
        @apply py-2 px-6 flex items-center gap-4 justify-center;

        & span{
            @apply text-white font-semibold;
        }
    }
}

// author
.author{
    @apply py-10 flex items-center flex-wrap gap-4 border-b border-gray-300;

    img{
        @apply w-24 h-24 object-cover rounded-full;
    }

    & ._detail{
        @apply flex flex-col gap-2;

        span:first-child{
            @apply text-white hover:text-red-500 font-semibold text-xl;
        }

        span:last-child{
            @apply text-gray-400;
        }
    }
}

// comment
.comment{
    @apply flex flex-col gap-4 py-10;

    ._head-title{
        @apply text-3xl text-white font-semibold;
    }

    .-note{
        @apply text-gray-400;
    }

    .-redmark{
        @apply text-red-500;
    }

    .-field{
        @apply flex flex-col gap-4;

        label{
            @apply text-white flex;
        }

        input{
            @apply py-2 px-4 bg-transparent text-white border border-gray-500 rounded-[0px];
        }

        textarea{
            @apply py-2 px-4 bg-transparent text-white border border-gray-500 rounded-[0px];
        }
    }

    ._submit{
        .-btn{
            @apply py-4 px-4 primary text-white font-semibold hover:bg-red-600;
        }
    }
}

// post pagination
.post_pagination{
    @apply flex items-center max-sm:flex-wrap justify-between py-10 gap-4;

    ._btn{
        @apply flex flex-col gap-4 bg-gray-600 md:w-1/2 p-7 max-h-40 overflow-hidden max-sm:w-full;

        div{
            @apply flex items-center gap-4;

            .-icon{
                @apply flex items-center justify-center p-2;

                svg{
                    @apply w-5 h-5 text-white;
                }
            }
    
            & span{
                @apply text-white font-semibold;
            }
    
        }
        p{
            @apply text-white text-xl font-semibold text-ellipsis overflow-hidden;
        }
    }

    ._btn:hover{
        @apply bg-gray-700;
    }

    ._btn:hover .-icon{
        @apply bg-red-500;
    }

    ._btn:hover span{
        @apply text-red-500;
    }

    ._btn:hover p{
        @apply underline underline-offset-2;
    }
}